<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <%- include('./components/header') %>
    <main>
      <%- include('./components/sidebar') %>
      <div class="content">
        <h2><%= message %></h2>
        <ul>
          <% posts.forEach(function(post) { %>
          <li>
            <a href="/posts/<%= post.id %>"><%= post.title %></a>
          </li>
          <% }); %>
        </ul>
      </div>
    </main>
    <%- include('./components/footer') %>
  </body>
</html>
