<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./components/header') %>
    <main>
      <%- include('./components/sidebar') %>
      <div class="content">
        <h3><%= message %></h3>
        <h4>Title: <%= post.title %></h4>
        <p>Content: <%= post.body %></p>
      </div>
    </main>
    <%- include('./components/footer') %>
  </body>
</html>
