<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./components/header') %>
    <main>
      <h1><%= message %></h1>
      <div>
        <h4>User Detail</h4>
        <ul>
          <li><%= user.name %></li>
          <li><%= user.email %></li>
          <li><%= user.phone %></li>
        </ul>
      </div>
    </main>
    <%- include('./components/footer') %>
  </body>
</html>
